/* Here is my styles.css for the Landing Page Project */
.logo-nav {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.logo-nav ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.logo-nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 16px;
    color: #F9FAF8;
    margin: 0;
}

.intro-header {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;  
    gap: 16px;

}
.intro-header img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 25%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
 }
 
 .copyright {
    text-align: center;
    font-size: 14px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 16px;
 }

 .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .body h2 {
        font-size: 24px;
        margin-bottom: 64px;
    }
    
    .body ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        font-size: 18px;
    }
    
    .body ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    .body ul li img {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 100%;

    }

    .quote-section {
        margin-top: 64px;
        padding: 75px;
        background-color: #E5E7EB;
        font-style: italic;
        font-size: 18px;
        max-width: 600px;
    }

    .footer {
        padding: 50px;
        background-color: #3882F6;
        color: #E5E7EB;
        text-align: center;
    }